@use "../../abstracts/" as *;
/*===================== ASIDE =====================*/
.aside {
   position: fixed;
   left: 0;
   width: $aside-padding;
   min-height: 100vh;
   text-align: center;
   background-color: $aside-bg;
   z-index: $z-fixed;
   overflow: hidden;
   transition: all 0.4s;
   .nav {
      .logo {
         padding: 1.2rem;
         background-color: #000;
         img {
            width: 60px;
         }
         .title {
            margin-block: 0.7rem;
            font-size: 1.6rem;
            letter-spacing: -2px;
         }
         .text {
            color: $text-color;
            font-size: var(--normal-font-size);
         }
      }
      .links {
         .item {
            .link {
               display: block;
               padding: 1rem;
               border-bottom: 1px solid $text-color;
               color: $text-color;
               transition: color 0.4s;
               &:hover {
                  color: #08fdd8;
               }
            }
         }
      }
      .social-links {
         .title {
            text-align: left;
            color: #fff;
            font-size: var(--h2-font-size);
            padding-block: 1.2rem;
            padding-left: 0.5rem;
         }
         .social {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
            .social-link {
               font-size: 1.5rem;
               transition: color 0.4s;
            }
            .social-link:not(:last-of-type) {
               border-right: 1px solid $text-color;
            }
            .social-link:nth-child(1):hover {
               color: #4267b2;
            }
            .social-link:nth-child(2):hover {
               color: #0077b5;
            }
            .social-link:nth-child(3):hover {
               color: #f00;
            }
            .social-link:nth-child(4):hover,
            .social-link:nth-child(5):hover {
               color: #ddd;
            }
         }
      }
   }
}
/*=============== BREAKPOINTS ===============*/
// /* SMALL */
@media (max-width: 768px) {
   .aside {
      left: -$aside-padding;
   }
   .aside.show {
      width: 100%;
      left: 0;
      background-color: #181818e9;
   }
   .aside .nav .logo {
      background-color: #00000000;
   }
   .aside .nav .social-links .social .social-link {
      padding: 1rem;
   }
}
