@use "../../abstracts/" as *;
/*===================== ASIDE =====================*/
.aside {
   position: fixed;
   width: $aside-padding;
   height: 100vh;
   text-align: center;
   background-color: $aside-bg;
   z-index: $z-fixed;
   .nav {
      .logo {
         padding: 1.2rem;
         background-color: #000;
         img {
            width: 80px;
         }
         .title {
            margin-block: 0.7rem;
            font-size: 1.8rem;
            letter-spacing: -2px;
         }
         .text {
            color: $text-color;
            font-size: var(--normal-font-size);
         }
      }
      .links {
         .item {
            .link {
               display: block;
               padding: 1rem;
               border-bottom: 1px solid $text-color;
               color: $text-color;
               transition: color 0.4s;
               &:hover {
                  color: #08fdd8;
               }
            }
         }
      }
      .social-links {
         .title {
            text-align: left;
            color: #fff;
            font-size: var(--h2-font-size);
            padding-block: 1.2rem;
            padding-left: 0.5rem;
         }
         .social {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
            .social-link {
               font-size: 1.5rem;
               transition: color 0.4s;
            }
            .social-link:not(:last-of-type) {
               border-right: 1px solid $text-color;
            }
            .social-link:nth-child(1):hover {
               color: #0674e7;
            }
            .social-link:nth-child(2):hover {
               color: #0a66c2;
            }
            .social-link:nth-child(3):hover {
               color: #f00;
            }
            .social-link:nth-child(4):hover {
               color: #ddd;
            }
         }
      }
   }
}
/*=============== BREAKPOINTS ===============*/
/* EXTRA SMALL */
// @media (max-width: 576px) {
// }
// /* SMALL */
// @media (min-width: 768px) {
//    .container {
//       width: 750px;
//    }
// }
// /* MEDIUM */
@media (max-width: 992px) {
   .aside {
      display: none;
   }
}
// /* LARGE */
// @media (min-width: 1200px) {
//    .container {
//       width: 1170px;
//    }
// }
