@use "../../abstracts/" as *;
/*===================== CONTACT =====================*/
.contact {
   .text {
      line-height: 1.5;
      width: 90%;
   }
   .form {
      margin-top: 3rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1.5rem;
      .input__name,
      .input__email {
         flex: 1;
      }
      .input__subject {
         width: 100%;
      }
      #message {
         width: 100%;
         padding: 1rem;
         resize: vertical;
         caret-color: $hover-color;
         color: $text-color;
         border: 2px solid $text-color;
         background-color: #2b2b2b;
         min-height: 150px;
      }
      #message:focus {
         border: 2px solid $hover-color;
      }
      .input {
         position: relative;
         .input-field {
            padding: 1rem;
            height: 60px;
            width: 100%;
            border: 2px solid $text-color;
            caret-color: $hover-color;
            color: $text-color;
            background-color: $body-bg;
            background-color: transparent;
         }
         .input-title {
            position: absolute;
            top: 50%;
            left: 0;
            width: 60px;
            transform: translate(1.5rem, -50%);
            color: $text-color;
            transition: all 0.3s;
            z-index: -1;
         }

         .input-title.active {
            text-align: center;
            top: 0;
            left: 0;
            background-color: $body-bg;
            color: $hover-color;
            font-size: var(--small-font-size);
            transform: translate(0.5rem, -50%);
            z-index: 1;
            & + .input-field {
               border: 2px solid $hover-color;
            }
         }
      }
   }
   .info {
      margin-top: 2rem;
      .text {
         display: flex;
         align-items: center;
         gap: 1rem;
         margin-bottom: 0.5rem;
      }
      .icon {
         color: $hover-color;
         font-size: 1.5rem;
      }
   }
}
/*=============== BREAKPOINTS ===============*/
/* SMALL */
@media (max-width: 768px) {
   .contact .text {
      width: 100%;
   }
   .contact .form .input__name,
   .contact .form .input__email {
      flex-basis: 100%;
   }
}
