@use "../../abstracts/" as *;
/*===================== HERO =====================*/
.hero {
   min-height: 100vh;
   .container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;
      height: 100%;
      .content {
         .title {
            font-size: 5rem;
            letter-spacing: -7px;
            line-height: 1.2;
            margin: 0;
            .first-letter {
               display: inline-block;
               width: 60px;
               margin-right: -1.7rem;
               position: relative;
               top: 0.2rem;
            }
         }
         .text {
            color: $text-color;
            letter-spacing: 5px;
            margin-block: 1rem 3rem;
            font-size: var(--h3-font-size);
         }
      }
      .personal-img {
         align-self: flex-start;
         img {
            width: 300px;
            border-radius: 50%;
            // box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
            border: 5px solid #fff;
         }
      }
   }
}
/*=============== BREAKPOINTS ===============*/
/* MEDIUM */
@media (max-width: 992px) {
   .hero .container {
      flex-direction: column;
   }
   .hero .container .content {
      order: 2;
      align-self: flex-start;
   }
   .hero .container .content .title {
      font-size: 4rem;
   }
   .hero .container .content .title .first-letter {
      width: 55px;
      margin-right: -1.3rem;
   }
   .hero .container .personal-img {
      order: 1;
      align-self: center;
   }
}
/* EXTRA SMALL */
@media (max-width: 376px) {
   .hero .container .content .title {
      font-size: 3.5rem;
   }
   .hero .container .content .title .first-letter {
      width: 45px;
      margin-right: -1.1rem;
      top: 0.1rem;
   }
}
