@use "../../abstracts/" as *;
/*===================== MY WORKS =====================*/
.my-works {
   .works {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 2rem;
      .box {
         text-align: center;
         border-radius: 0.2rem;
         overflow: hidden;
         .image {
            position: relative;
            overflow: hidden;
            height: 150px;
            img {
               vertical-align: middle;
               height: 100%;
               width: 100%;
            }
            .preview {
               position: absolute;
               top: -20px;
               left: 50%;
               transform: translate(-50%, -50%);
               transition: all 0.3s;
               color: #fff;
               font-size: var(--h2-font-size);
               font-weight: $font-bold;
               letter-spacing: 2px;
               z-index: $z-normal;
               &:hover {
                  text-decoration: underline;
                  color: $hover-color;
               }
            }
            &::after {
               content: "";
               display: block;
               width: 100%;
               height: 0;
               position: absolute;
               top: 0;
               left: 0;
               background-color: rgba(0, 0, 0, 0.7);
               transition: height 0.3s;
               cursor: pointer;
            }
            &:hover {
               &::after {
                  height: 100%;
               }
               .preview {
                  top: 50%;
               }
            }
         }
         .title {
            background-color: #08fdd8cc;
            color: #000;
            font-style: italic;
            letter-spacing: 1px;
            padding: 1rem;
         }
      }
   }
}
