@use "../abstracts/" as *;
/*===================== BUTTONS =====================*/
.btn {
   position: relative;
   border: 1px solid $hover-color;
   padding: 1rem 2rem;
   color: $hover-color;
   letter-spacing: 2px;
   text-transform: uppercase;
   background-color: transparent;
   transition: color 0.4s;
   overflow: hidden;
   display: block;
   width: fit-content;
   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      width: 0;
      background-color: $hover-color;
      transform: translateX(-20px) skewX(-15deg);
      z-index: -1;
      transition: width 1s;
   }
   &::after {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      bottom: 0;
      right: 0;
      background-color: $hover-color;
      transition: background 0.3s;
   }
   &:hover {
      color: $body-bg;
      &::before {
         width: 120%;
      }
      &::after {
         background-color: #fff;
      }
   }
}
