@use "../abstracts/" as *;
/*===================== CONTACT =====================*/
.contact {
   .text {
      line-height: 1.5;
      width: 70%;
   }
   .form {
      margin-top: 3rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.8rem;
      #name,
      #email {
         width: 49%;
      }
      #subject {
         width: 100%;
      }
      input {
         padding: 1rem;
         caret-color: $hover-color;
         background-color: #2b2b2b;
      }
      textarea {
         width: 100%;
         padding: 1rem;
         resize: vertical;
         caret-color: $hover-color;
         background-color: #2b2b2b;
         min-height: 150px;
      }
   }
}
