@use "../abstracts/" as *;
/*=============== SCROLL UP ===============*/
.scroll-up {
   position: fixed;
   background: $hover-color;
   right: 1.5rem;
   bottom: 1.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50px;
   height: 50px;
   text-align: center;
   padding: 0.5rem;
   border-radius: 50%;
   z-index: 50;
   opacity: 0.8;
   transition: 0.4s;

   &:hover {
      opacity: 1;
   }

   .icon {
      fill: #fff;
   }
}

/* Show Scroll Up*/
.show-scroll {
   bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
   width: 0.6rem;
   border-radius: 0.5rem;
   background-color: hsl(45, 4%, 85%);

   &-thumb {
      background-color: hsl(45, 4%, 75%);
      border-radius: 0.5rem;

      &:hover {
         background-color: hsl(45, 4%, 65%);
      }
   }
}
