/*===================== VARIABLES =====================*/
:root {
  --biggest-font-size: 3.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

/*===================== BASE =====================*/
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #1d1d1d;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
}

/*=============== REUSEABLE CLASSES ===============*/
.container {
  padding: 0 15px;
  margin-inline: auto;
  width: 90%;
}

.main {
  position: relative;
  padding-left: 240px;
}
.main .toggle-mobile {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  width: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  opacity: 0;
  transition: opacity 0.8s;
  z-index: 101;
  cursor: pointer;
}
.main .toggle-mobile__span {
  display: block;
  height: 5px;
  border-radius: 2px;
  background-color: #fff;
  transition: transform 0.3s;
}
.main .toggle-mobile.close .toggle-mobile__span:nth-of-type(2) {
  display: none;
}
.main .toggle-mobile.close .toggle-mobile__span:nth-of-type(1) {
  transform: translateY(10px) rotate(45deg);
}
.main .toggle-mobile.close .toggle-mobile__span:nth-of-type(3) {
  transform: rotate(-45deg);
}

.main-section {
  padding-block: 5rem 3rem;
}

.section {
  padding-block: 3rem;
  position: relative;
}
.section__title {
  font-size: var(--biggest-font-size);
  color: #08fdd8;
  text-align: center;
  margin-bottom: 3rem;
}
.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 70%;
  height: 3px;
  background-color: #fff;
}
.section::after {
  content: ".";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 50px;
  height: 50px;
  background-color: #1d1d1d;
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

/*=============== BREAKPOINTS ===============*/
/* SMALL */
@media (max-width: 768px) {
  .main {
    padding-left: 0;
  }
  .main .toggle-mobile {
    opacity: 1;
  }
}
/*===================== BUTTONS =====================*/
.btn {
  position: relative;
  border: 1px solid #08fdd8;
  padding: 1rem 2rem;
  color: #08fdd8;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  transition: color 0.4s;
  overflow: hidden;
  display: block;
  width: fit-content;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 0;
  background-color: #08fdd8;
  transform: translateX(-20px) skewX(-15deg);
  z-index: -1;
  transition: width 1s;
}
.btn::after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  bottom: 0;
  right: 0;
  background-color: #08fdd8;
  transition: background 0.3s;
}
.btn:hover {
  color: #1d1d1d;
}
.btn:hover::before {
  width: 120%;
}
.btn:hover::after {
  background-color: #fff;
}

/*===================== ASIDE =====================*/
.aside {
  position: fixed;
  left: 0;
  width: 240px;
  height: 100vh;
  text-align: center;
  background-color: #181818;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.4s;
}
.aside::-webkit-scrollbar {
  width: 0;
}
.aside .nav .logo {
  padding: 1.2rem;
  background-color: #000;
}
.aside .nav .logo img {
  width: 60px;
}
.aside .nav .logo .title {
  margin-block: 0.7rem;
  font-size: 1.6rem;
  letter-spacing: -2px;
}
.aside .nav .logo .text {
  color: #909096;
  font-size: var(--normal-font-size);
}
.aside .nav .links .item .link {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid #909096;
  color: #909096;
  transition: color 0.4s;
}
.aside .nav .links .item .link:hover {
  color: #08fdd8;
}
.aside .nav .social-links .title {
  text-align: left;
  color: #fff;
  font-size: var(--h2-font-size);
  padding-block: 1.2rem;
  padding-left: 0.5rem;
}
.aside .nav .social-links .social {
  display: grid;
  grid-template-columns: repeat(3, minmax(30px, 1fr));
  gap: 1rem;
  padding-inline: 2rem;
  padding-block: 0.5rem 2rem;
}
.aside .nav .social-links .social .social-link {
  transition: transform 0.3s;
}
.aside .nav .social-links .social .social-link:hover {
  transform: scale(1.2);
}

/*=============== BREAKPOINTS ===============*/
/* SMALL */
@media (max-width: 768px) {
  .aside {
    left: -240px;
  }
  .aside.show {
    width: 100%;
    left: 0;
    background-color: rgba(24, 24, 24, 0.9137254902);
  }
  .aside .nav .logo {
    background-color: rgba(0, 0, 0, 0);
  }
  .aside .nav .links .item .link {
    padding: 1.5rem;
  }
  .aside .nav .social-links .social {
    grid-template-columns: repeat(6, minmax(50px, 1fr));
    gap: 0.5rem;
  }
}
@media (max-width: 400px) {
  .aside .nav .social-links .social {
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    gap: 1rem;
  }
}
/*===================== HERO =====================*/
.hero {
  min-height: 100vh;
}
.hero .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  height: 100%;
}
.hero .container .content .title {
  font-size: 5rem;
  letter-spacing: -7px;
  line-height: 1.2;
  margin: 0;
}
.hero .container .content .title .first-letter {
  display: inline-block;
  width: 60px;
  margin-right: -1.7rem;
  position: relative;
  top: 0.2rem;
}
.hero .container .content .text {
  color: #909096;
  letter-spacing: 5px;
  margin-block: 1rem 3rem;
  font-size: var(--h3-font-size);
}
.hero .container .personal-img {
  align-self: flex-start;
}
.hero .container .personal-img img {
  width: 300px;
  border-radius: 50%;
  border: 5px solid #fff;
}

/*=============== BREAKPOINTS ===============*/
/* MEDIUM */
@media (max-width: 992px) {
  .hero .container {
    flex-direction: column;
  }
  .hero .container .content {
    order: 2;
    align-self: flex-start;
  }
  .hero .container .content .title {
    font-size: 4rem;
  }
  .hero .container .content .title .first-letter {
    width: 55px;
    margin-right: -1.3rem;
  }
  .hero .container .personal-img {
    order: 1;
    align-self: center;
  }
}
/* EXTRA SMALL */
@media (max-width: 376px) {
  .hero .container .content .title {
    font-size: 3.5rem;
    letter-spacing: -5px;
  }
  .hero .container .content .title .first-letter {
    width: 45px;
    margin-right: -1.1rem;
    top: 0.1rem;
  }
}
/*===================== ABOUT ME =====================*/
.about-me .text {
  line-height: 1.5;
  width: 90%;
}
.about-me .text:nth-child(3) {
  margin-block: 2rem;
}
.about-me .link {
  color: #08fdd8;
  transition: color 0.4s;
}
.about-me .link:hover {
  color: rgba(8, 253, 216, 0.4901960784);
}

/*===================== MY SKILLS =====================*/
.my-skills .skills {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 2rem;
}
.my-skills .skills svg {
  transition: transform 0.3s;
}
.my-skills .skills svg:hover {
  transform: scale(1.1);
}
.my-skills .skills .title {
  text-align: center;
  margin-top: 0.5rem;
}

/*===================== MY WORKS =====================*/
.my-works .works {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}
.my-works .works .box {
  text-align: center;
  border-radius: 0.2rem;
  overflow: hidden;
}
.my-works .works .box .image {
  position: relative;
  overflow: hidden;
  height: 150px;
}
.my-works .works .box .image img {
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
.my-works .works .box .image .preview {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  color: #fff;
  font-size: var(--h2-font-size);
  font-weight: 600;
  letter-spacing: 2px;
  z-index: 1;
}
.my-works .works .box .image .preview:hover {
  text-decoration: underline;
  color: #08fdd8;
}
.my-works .works .box .image::after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: height 0.3s;
  cursor: pointer;
}
.my-works .works .box .image:hover::after {
  height: 100%;
}
.my-works .works .box .image:hover .preview {
  top: 50%;
}
.my-works .works .box .title {
  background-color: rgba(8, 253, 216, 0.8);
  color: #000;
  font-style: italic;
  letter-spacing: 1px;
  padding: 1rem;
}

/*===================== Video Tutorials =====================*/
.video-toturials .playlists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}
.video-toturials .playlists .box {
  text-align: center;
  border-radius: 0.2rem;
  overflow: hidden;
}
.video-toturials .playlists .box .image {
  transition: transform 0.3s;
}
.video-toturials .playlists .box .image:hover {
  transform: scale(1.05) rotate(1deg);
}
.video-toturials .playlists .box .image img {
  display: block;
}
.video-toturials .playlists .box .preview {
  display: block;
  height: 100%;
}
.video-toturials .playlists .box .title {
  background-color: white;
  color: #000;
  font-style: italic;
  letter-spacing: 1px;
  padding: 1rem;
}

/*===================== CONTACT =====================*/
.contact .text {
  line-height: 1.5;
  width: 90%;
}
.contact .form {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}
.contact .form .input__name,
.contact .form .input__email {
  flex: 1;
}
.contact .form .input__subject {
  width: 100%;
}
.contact .form #message {
  width: 100%;
  padding: 1rem;
  resize: vertical;
  caret-color: #08fdd8;
  color: #909096;
  border: 2px solid #909096;
  background-color: #2b2b2b;
  min-height: 150px;
}
.contact .form #message:focus {
  border: 2px solid #08fdd8;
}
.contact .form .input {
  position: relative;
}
.contact .form .input .input-field {
  padding: 1rem;
  height: 60px;
  width: 100%;
  border: 2px solid #909096;
  caret-color: #08fdd8;
  color: #909096;
  background-color: #1d1d1d;
  background-color: transparent;
}
.contact .form .input .input-title {
  position: absolute;
  top: 50%;
  left: 0;
  width: 60px;
  transform: translate(1.5rem, -50%);
  color: #909096;
  transition: all 0.3s;
  z-index: -1;
}
.contact .form .input .input-title.active {
  text-align: center;
  top: 0;
  left: 0;
  background-color: #1d1d1d;
  color: #08fdd8;
  font-size: var(--small-font-size);
  transform: translate(0.5rem, -50%);
  z-index: 1;
}
.contact .form .input .input-title.active + .input-field {
  border: 2px solid #08fdd8;
}
.contact .info {
  margin-top: 2rem;
}
.contact .info .text {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.contact .info .icon {
  color: #08fdd8;
  font-size: 1.5rem;
}

/*=============== BREAKPOINTS ===============*/
/* SMALL */
@media (max-width: 768px) {
  .contact .text {
    width: 100%;
  }
  .contact .form .input__name,
  .contact .form .input__email {
    flex-basis: 100%;
  }
}
/*===================== FOOTER =====================*/
#validation-message {
  position: fixed;
  bottom: 2rem;
  right: -25rem;
  padding: 1rem;
  border-radius: 0.2rem;
  transition: right 0.5s;
  z-index: 51;
}
#validation-message.show {
  right: 2rem;
}

/*===================== FOOTER =====================*/
.footer {
  padding-left: 240px;
  background-color: #181818;
  padding-block: 2rem;
  text-align: center;
}
.footer .link {
  display: inline;
  color: #08fdd8;
  padding: 0;
}
.footer .heart-icon {
  position: relative;
  top: 5px;
}

/*=============== BREAKPOINTS ===============*/
/* SMALL */
@media (max-width: 768px) {
  .footer {
    padding-left: 0;
  }
}
/*=============== SCROLL UP ===============*/
.scroll-up {
  position: fixed;
  background: #08fdd8;
  right: 1.5rem;
  bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 0.5rem;
  border-radius: 50%;
  z-index: 50;
  opacity: 0.8;
  transition: 0.4s;
}
.scroll-up:hover {
  opacity: 1;
}
.scroll-up .icon {
  fill: #fff;
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(45, 4%, 85%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(45, 4%, 75%);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(45, 4%, 65%);
}

/*===================== PROJECT =====================*/
.header-project {
  position: fixed;
  width: 100%;
  padding: 1.3rem;
  background-color: #181818;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
  transition: color 0.3s;
}
.link .icon {
  fill: #fff;
  transition: color 0.3s;
}
.link:hover {
  color: #08fdd8;
}
.link:hover .icon {
  fill: #08fdd8;
}

.project .container > .title {
  text-align: center;
  font-size: 3rem;
  color: #08fdd8;
}
.project .container > .text {
  margin-block: 2rem 4rem;
  text-align: center;
  line-height: 1.5;
}
.project .container .project-img img {
  width: 100%;
  min-width: 220px;
}
.project .container .links {
  margin-block: 2rem;
  width: fit-content;
}
.project .container .links .link {
  padding: 1rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}
.project .container .links .link .icon {
  width: 60px;
}
.project .container .content .technologies .title,
.project .container .content .features .title {
  margin-bottom: 1.5rem;
  color: #08fdd8;
}
.project .container .content .technologies__list,
.project .container .content .features__list {
  background-color: #181818;
  padding: 1rem;
  padding-left: 2rem;
  color: #000;
  margin-bottom: 2rem;
}
.project .container .content .technologies__list .item,
.project .container .content .features__list .item {
  position: relative;
  padding: 0.5rem;
  margin-block: 0.8rem;
  padding-left: 1.2rem;
  color: #909096;
  line-height: 1.5;
}
.project .container .content .technologies__list .item::before,
.project .container .content .features__list .item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 80%;
  background-color: #fff;
  width: 5px;
}

/*=============== BREAKPOINTS ===============*/
/* EXTRA SMALL */
@media (max-width: 400px) {
  .project .container > .title {
    font-size: 2.3rem;
    padding-inline: 15px;
  }
  .project .container > .text {
    font-size: var(--normal-font-size);
    padding-inline: 15px;
  }
}/*# sourceMappingURL=style.css.map */