@use "../abstracts/" as *;
/*===================== PROJECT =====================*/
.header-project {
   position: fixed;
   width: 100%;
   padding: 1.3rem;
   background-color: $aside-bg;
}
.link {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   padding-left: 1rem;
   transition: color 0.3s;
   .icon {
      fill: #fff;
      transition: color 0.3s;
   }
   &:hover {
      color: $hover-color;
      .icon {
         fill: $hover-color;
      }
   }
}
.project {
   .container {
      > .title {
         text-align: center;
         font-size: 3rem;
         color: $hover-color;
      }
      > .text {
         margin-block: 2rem 4rem;
         text-align: center;
         line-height: 1.5;
      }
      .project-img {
         img {
            width: 100%;
            min-width: 220px;
         }
      }

      .links {
         margin-block: 2rem;
         width: fit-content;
         .link {
            padding: 1rem;
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            .icon {
               width: 60px;
            }
         }
      }
      .content {
         .technologies,
         .features {
            .title {
               margin-bottom: 1.5rem;
               color: $hover-color;
            }
            &__list {
               background-color: $aside-bg;

               padding: 1rem;
               padding-left: 2rem;
               color: #000;
               margin-bottom: 2rem;
               .item {
                  position: relative;
                  padding: 0.5rem;
                  margin-block: 0.8rem;
                  padding-left: 1.2rem;
                  color: $text-color;
                  line-height: 1.5;
                  &::before {
                     content: "";
                     position: absolute;
                     top: 50%;
                     left: 0;
                     transform: translateY(-50%);
                     height: 80%;
                     background-color: #fff;
                     width: 5px;
                  }
               }
            }
         }
      }
   }
}
/*=============== BREAKPOINTS ===============*/
/* EXTRA SMALL */
@media (max-width: 400px) {
   .project .container > .title {
      font-size: 2.3rem;
      padding-inline: 15px;
   }
   .project .container > .text {
      font-size: var(--normal-font-size);
      padding-inline: 15px;
   }
}
